@import "./footer";
@import "./header";
@import "./main";
@import "./nav";

@font-face {
    font-family: "Lato-Regular-400" ;
    src: url(/fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: "Lato-Bold-700" ;
    src: url(/fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: "Lato-Thin-300" ;
    src: url(/fonts/Lato-Thin.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato-Regular-400" ;
}

body {

}
a{
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
.container-grey{
    background-color: #F6F6F6;
}





